.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33,33,33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.profile__name {
  margin: 0 0 12px;
  color: rgba(33,33,33, 1);
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  color: rgba(33,33,33, 0.7);
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  margin-right: auto;
  border: none;
  background-color: transparent;
  opacity: 70%;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  margin-top: auto;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  background-color: black;
  color: #fcf5e5;
  border-radius: 8px;
  line-height: 1;
  justify-content: space-between;
}

.profile__add-btn:hover {
  background-color: rgba(33,33,33, 0.8) ;
}

@media  screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
  font-size: 20px;
  margin: 0 0 6px;
  max-width: 288px;
}

.profile__description {
  margin: 0 0 32px;
  max-width: 288px;
}

.profile__column {
  margin: 0 0 20px;
}
  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__edit-btn {
    margin: 0;
  }
}
